@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ffff;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: "Archivo", sans-serif;
}
#inicio {
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
}

.primeiraFrase {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    width: 174px;
    height: 24px;
    color: #1A202C;
}
.segundaFrase {
    width: 344px;
    height: 35px;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;
    margin-top: 2vh;
}
#emailSenha {
    display: flex;
    flex-direction: column;
    gap: 12px;

}
.cadastro {
    width: 40vh;
    height: 5vh;
    border-radius: 4px;
    border: 1px solid black;
    padding: 16px;
    gap: 8px;
    background-color: #E8E8E8;
}
#lembraDemim {
    padding-top: 2vh;
    display: flex;
    gap: 10px;
}

.lembra {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 111px;
    height: 17px;
}
.separa {
    padding-left: 2vh;
}
a {
    text-decoration: none;
}
.esqueceu {
    font-weight: 500;
    font-size: 16px;
    width: 160px;
    height: 17px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1E9E6A;
}
#botao {
    display: flex;
    flex-flow: column wrap;
    gap: 1vh;
}
button {
    margin-top: 2vh;
    width: 40vh;
    height: 6vh;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2vh;
    align-items: center;
    
   
}
.entrar {
    background-color: #1E9E6A;
}
.fraseEntrar {
    color: #FFFFFF;
}
.googles {
    
    background-color: #1A202C;
    
    
}

img {
    width: 3vh;
    height: 3vh;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    
}
.entrarGoogles {
    color: #FFFFFF;
    margin-top: 1vh;
    margin-bottom: 1vh;
    
}

#semConta {
    display: flex;
    align-items: center;
}
#semConta {
    width: 302px;
    height: 22px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    gap: 2px;
    
    
}
.criar {
    color: #1E9E6A;
}